
* { margin: 0; padding: 0; box-sizing: border-box; background-color: #efefef; }
#header {  height: 60px;  background-color: #fff; box-shadow: 1px -2px 4px #111; }
#header_wrap { width: 80%; margin: 0 auto; }
#header h1 { line-height: 60px; background-color: #fff;  }
#main_body { height: 92vh; display: flex;  }
#form_side { border-right: 1px solid rgba(21, 45, 56, 0.7);  flex: 30%; padding: 5%;  }
#form_side form { box-shadow: 0px -5px 15px rgba(21, 45, 56, 0.7); border: 1px solid rgba(21, 45, 56, 0.7); padding: 5%; background-color: #fff; border-top: 7px solid rgba(21, 45, 56, 0.7); }
#form_side form h1 { background-color: #fff; width: 100%; text-align: center; padding: 3% 1%; }
#form_side form input { padding-left: 2%; width: 100%; height: 30px; border: 1px solid rgba(21, 45, 56, 0.7); outline: none; }
#form_side form #form_group { background-color: #fff; padding: 3%; }
#form_side form textarea { height: 200px; padding: 2%; width: 100%; border: 1px solid rgba(21, 45, 56, 0.7); outline: none; }
#notes_side { overflow-y: auto; flex: 70%; padding: 5% 3%; }
#add { background:rgba(21, 45, 56, 0.7); color: #fff; }
#add:hover { background:rgba(21, 45, 56, 1); }
#note_box { display: inline-block; margin: 1% 1%; width: 47%; box-shadow: 0px -5px 15px rgba(21, 45, 56, 0.7); border: 1px solid rgba(21, 45, 56, 0.7);
 padding: 2%; background-color: #fff; border-top: 7px solid rgba(21, 45, 56, 0.7); }
 #note_box h1,#note_box p  { background-color: #fff; }
  #note_box h1 { font-size: 20px; padding: 2% 0%; }
#note_box p { margin-bottom: 15%; }
#note_box a { background-color:rgba(21, 45, 56, 0.7); padding: 2%; text-decoration: none; color: #fff;   }
#note_box a:hover { background-color:rgba(21, 45, 56, 1); }
#notes_side::-webkit-scrollbar { display: none; }
#notes_side { -ms-overflow-style: none;scrollbar-width: none;}


#note_info { margin-bottom: 4%; box-shadow: 0px -5px 15px rgba(21, 45, 56, 0.7); border: 1px solid rgba(21, 45, 56, 0.7); padding: 5%; background-color: #fff; border-top: 7px solid rgba(21, 45, 56, 0.7);  }
#note_info h1 { background-color: #fff; color: rgba(21, 45, 56, 1); padding: 0% 0% 3% 0%; font-size: 40px; }
#note_info p { background-color: #fff; color: rgba(21, 45, 56, 1); padding: 2% 0%; font-size: 23px; }
#notes_side a { margin-right: 1%; background-color:rgba(21, 45, 56, 0.7); padding:  2%; text-decoration: none; color: #fff;   }
#notes_side a:hover { background-color:rgba(21, 45, 56, 1); }